@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

h1 {
  font-family: 'Vina Sans', cursive;
  color: #0081A7;
}

h2, h3 {
	font-family: 'Lexend', sans-serif;
	color: #0081A7;
}